{% extends "deliveryperson_app/layout.html" %}

{% block title %} All orders {% endblock %}

{% block body %}

{% csrf_token %}
<div class="row"><p class="text-center fs-3 mt-5" id="orders-wait">Searching for orders</p></div>
<p class="text-center text-danger"></p>
<div class="container mt-5" id="orders">
    
    {% for order in orders %}
    <div class="row order-row">
        <div class="col col-lg-2 col-sm-auto col-xs-auto">
            <img class="im-size" src="{{ order.restaurant.image }}">
        </div>

        <div class="col col-lg-2 col-sm-auto col-xs-auto">
            <p>{{ order.restaurant.username }}</p>
        </div>

        <div class="col col-lg-2 col-sm-auto col-xs-auto">
            <p class="text-break"><span class="text-info">FROM: </span>{{ order.restaurant.address }}. <span class="text-info">TO: </span> {{ order.user.address }}.</p>
        </div>

        <div class="col col-lg-2 col-sm-auto col-xs-auto">
            <p class="text-break" id="order-order-{{ order.id }}">{{ order.order }}</p>
        </div>

        <div class="col col-lg-2 col-sm-auto col-xs-auto">
            <p id="sum-order-{{ order.id }}">{{ order.sum_order | usd }}</p>
        </div>

        <div class="col col-lg-2 col-sm-auto col-xs-auto">
            <button type="submit" class="accept-btn btn btn-success" data-order="{{ order.id }}" data-res="{{ order.restaurant.id }}">Accept</button><span class="text-danger ms-3 fs-3"></span>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" value="{{ request.user.id }}" id="del-id">
    <input type="hidden" value="{{ request.user }}" id="del-name">
    <input type="hidden" value="{{ request.user.image }}" id="del-img">
    <input type="hidden" value="{{ request.user.car }}" id="del-car">
    <input type="hidden" value="{{ request.user.number }}" id="del-number">
</div>










{% endblock %}